{include file="Public/header"}
        <!-- 以上为左侧菜单栏 sidebar -->
        <div id="content" class="content">
            <div class="header">
                <h1 class="page-title">菜单列表</h1>
            </div>
            <ul class="breadcrumb">
                <li><a href="/"> 控制面板 </a> <span class="divider">/</span></li>
                <li class="active">菜单列表</li>
            </ul>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="btn-toolbar">
                        <a href="/menu/add" class="btn btn-primary"><i class="icon-plus"></i> 新增</a>
                    </div>
                    <div class="block">
                        <a href="#page-stats" class="block-heading" data-toggle="collapse">菜单列表</a>
                        <div id="page-stats" class="block-body collapse in">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>名称</th>
                                        <th>关联权限</th>
                                        <th>排序</th>
                                        <th>是否启用</th>
                                        <th>父级菜单</th>
                                        <th width="80px">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name="list" id="vo"}
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.menu_name}</td>
                                        <td>{$vo.node_id|format_node_id}</td>
                                        <td>{$vo.menu_sort}</td>
                                        <td>{$vo.is_nav|format_is_nav}</td>
                                        <td>{$vo.pid|format_menu_pid_name}</td>
                                        <td>
                                            <a href="/menu/edit?id={$vo.id}" title="修改"><i class="icon-pencil"></i></a> &nbsp; &nbsp; 
                                            <a data-toggle="modal" href="#myModal" title="删除"><i class="icon-remove" href="/menu/del?id={$vo.id}"></i></a>
                                        </td>
                                    </tr>
                                    {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <script>
                        $('.icon-remove').click(function(){
                            var href=$(this).attr('href');
                            bootbox.confirm('确定要这样做吗？', function(result) {
                                if(result){
                                    location.replace(href);
                                }
                            });
                        })
                    </script>
{include file="Public/footer"}